@import '~styles/utils/variables.scss';

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 6px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  color: $primary-blue;
  background-color: $primary-blue-light;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 8px;
}

.name,
.title {
  text-align: center;
  font-size: 10px;
  line-height: 14px;
  width: 100%;
}

.name {
  margin-bottom: 4px;
}
